# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\mark\IdeaProjects\TentamenJavaVoorbereiding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
TentamenJavaVoorbereiding.iml
/.idea
/out